<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-inverse">
                    <div class="col-sm-6">
                        <ul class="nav navbar-nav">
                            <li><a href="#">首页</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                    </div>
                    
                </nav>
            </div>
           

            <div class="col-xs-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-6 col-sm-6"><p>美团-高级工程师 [北京-朝阳区-望京]</p></div>
                        <div class="col-xs-6 col-sm-6"><p>美团</p></div>
                        <div class="col-xs-6 col-sm-2"><p>35-65K*15薪</p></div>
                        <div class="col-xs-6 col-sm-1"><p>经验不限</p></div>
                        <div class="col-xs-6 col-sm-1"><p>本科</p></div>
                        <div class="col-xs-6 col-sm-6"><p>定期体检，全勤奖，餐补，五险一金，股票期权</p></div>
                    </div>
                  </div>
            </div>

            <div class="col-xs-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-6 col-sm-6"><p>美团-高级工程师 [北京-朝阳区-望京]</p></div>
                        <div class="col-xs-6 col-sm-6"><p>美团</p></div>
                        <div class="col-xs-6 col-sm-2"><p>35-65K*15薪</p></div>
                        <div class="col-xs-6 col-sm-1"><p>经验不限</p></div>
                        <div class="col-xs-6 col-sm-1"><p>本科</p></div>
                        <div class="col-xs-6 col-sm-6"><p>定期体检，全勤奖，餐补，五险一金，股票期权</p></div>
                    </div>
                  </div>
            </div>

            <div class="col-xs-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-6 col-sm-6"><p>美团-高级工程师 [北京-朝阳区-望京]</p></div>
                        <div class="col-xs-6 col-sm-6"><p>美团</p></div>
                        <div class="col-xs-6 col-sm-2"><p>35-65K*15薪</p></div>
                        <div class="col-xs-6 col-sm-1"><p>经验不限</p></div>
                        <div class="col-xs-6 col-sm-1"><p>本科</p></div>
                        <div class="col-xs-6 col-sm-6"><p>定期体检，全勤奖，餐补，五险一金，股票期权</p></div>
                    </div>
                  </div>
            </div>

            <div class="col-xs-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-6 col-sm-6"><p>美团-高级工程师 [北京-朝阳区-望京]</p></div>
                        <div class="col-xs-6 col-sm-6"><p>美团</p></div>
                        <div class="col-xs-6 col-sm-2"><p>35-65K*15薪</p></div>
                        <div class="col-xs-6 col-sm-1"><p>经验不限</p></div>
                        <div class="col-xs-6 col-sm-1"><p>本科</p></div>
                        <div class="col-xs-6 col-sm-6"><p>定期体检，全勤奖，餐补，五险一金，股票期权</p></div>
                    </div>
                  </div>
            </div>

            <div class="col-xs-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-6 col-sm-6"><p>美团-高级工程师 [北京-朝阳区-望京]</p></div>
                        <div class="col-xs-6 col-sm-6"><p>美团</p></div>
                        <div class="col-xs-6 col-sm-2"><p>35-65K*15薪</p></div>
                        <div class="col-xs-6 col-sm-1"><p>经验不限</p></div>
                        <div class="col-xs-6 col-sm-1"><p>本科</p></div>
                        <div class="col-xs-6 col-sm-6"><p>定期体检，全勤奖，餐补，五险一金，股票期权</p></div>
                    </div>
                  </div>
            </div>

            <div class="col-xs-12 col-sm-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    </ul>
                </nav>
            </div>
    </div>

    <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>